<style>
           
.table{
  margin-top:100px;
}

table{
    border-collapse: collapse; 
    opacity: 1;
    box-shadow: 10px 10px 5px #aaaaaa;
    box-sizing: border-box;
}

table:hover{
    box-shadow: 15px 15px 8px #aaaaaa;
}

td,th{
    padding: 10px;
}

td{ 
    height: 30px;
    text-align: center;
    z-index: 1;
}     

th{
    height: 40px;
    background-color: #6c7ae0;
    color: white;
}

tr:first-child:hover{
    background-color: #000a52;
}

tr:nth-child(even){ 
    background-color: #f2f2f2
}

th:first-child{
    border-top-left-radius: 10px;
}

th:last-child{
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

tr:hover{
    position: relative;
    background-color: #aaaa;
}

@media screen and (min-width:816px) {
    table{
        width: 800px;
    }
}

@media screen and (min-width: 550px) and (max-width:816px ) {
    table{
        width: 550px;
    }
}

</style>